<div class="container">
    <div class="row card-holder">
        <div class="col-sm-12">

            {{#if articles}}
            {{#each articles}}

            <div class="card">
                <h5 class="card-header">{{this.title}}</h5>
                <div class="card-body">
                    <a href={{this.link}} target="_blank" class="card-title"></h5>
                    <p class="card-text">{{this.summary}}</p>
                    <a href="#" class="btn btn-primary remove-save">Remove Article</a>
                </div>
            </div>

            {{/each}}
            {{else}}

            <div class="card">
                <div class="card-header">
                    Oh snap.
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Looks like we don't have any saved articles.</p>
                    </blockquote>
                </div>
            </div>

            {{/if}}

        </div>
    </div>
</div>